body {
	background: lightpink;
}
.Meh {
	background: lightblue;
	border: 4px dashed black;
	padding-top: 15px:
	padding-bottom: 15px;
	padding-right: 150px;
	padding-left: 150px;
	height: 200px;
	width: 500px;
	border-radius: 25%;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 300PX;
}

header {
	text-align: center;
}

h2 {
	text-align: center;
}

img {
	height: 100px;
	width: 100px;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}